<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="bro3 : ブラウザ三国志 各種ツール" />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>{% if page.title %}{{ page.title }}{% endif %}</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/myu25/bro3">Fork Me on GitHub</a>

          <h1 id="project_title">bro3</h1>
          <h2 id="project_tagline">ブラウザ三国志 各種ツール</h2>

          <section id="downloads">
            <a class="zip_download_link" href="https://github.com/myu25/bro3/zipball/master">Download this project as a .zip file</a>
            <a class="tar_download_link" href="https://github.com/myu25/bro3/tarball/master">Download this project as a tar.gz file</a>
          </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
{{content}}
    </div>
  </body>
</html>
